.button {
    -fx-background-color: rgba(204, 204, 204, 0.5);
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-family: "MesloLGL Nerd Font";
    -fx-font-weight: bold;
}

.button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button.selected {
    -fx-background-color: rgba(0, 0, 255, 0.5);
    -fx-text-fill: #FFFFFF;
}

.label {

}
